<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://35.199.126.247:5432/usersdb</property>
        <property name="connection.username">Diegonfx</property>
        <property name="connection.password">Perrito1</property>

        <!--&lt;!&ndash; JDBC connection pool (use the built-in) &ndash;&gt;-->
        <!--<property name="connection.pool_size">2</property>-->


        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the propertyAdmin.operationsns schema on startup-->
        <property name="hbm2ddl.auto">update</property>

        <property name="dateTime">org.joda.time.contrib.hibernate.PersistentDateTime</property>

        <!-- DB schema will be updated if needed -->
        <!-- <propertyAdmin.structure.property name="hbm2ddl.auto">update</propertyAdmin.structure.property> -->

        <mapping class="propertyAdmin.structure.persons.Account"/>
        <mapping class="propertyAdmin.structure.persons.Guarantor"/>
        <mapping class="propertyAdmin.structure.persons.Landlord"/>
        <mapping class="propertyAdmin.structure.persons.Tenant"/>
        <mapping class="propertyAdmin.structure.property.details.Blueprint"/>
        <mapping class="propertyAdmin.structure.property.details.Deed"/>
        <mapping class="propertyAdmin.structure.property.structure.specifics.BusinessPremise"/>
        <mapping class="propertyAdmin.structure.property.structure.specifics.Garage"/>
        <mapping class="propertyAdmin.structure.property.structure.specifics.LivingPlace"/>
        <mapping class="propertyAdmin.structure.property.structure.specifics.Office"/>
        <mapping class="propertyAdmin.structure.property.structure.FunctionalUnit"/>
        <mapping class="propertyAdmin.structure.property.structure.Property"/>
        <mapping class="propertyAdmin.structure.rents.Contract"/>
        <mapping class="propertyAdmin.structure.rents.Expenses"/>
        <mapping class="propertyAdmin.structure.services.specifics.Electricity"/>
        <mapping class="propertyAdmin.structure.services.specifics.Gas"/>
        <mapping class="propertyAdmin.structure.services.specifics.Telephone"/>
        <mapping class="propertyAdmin.structure.services.specifics.Water"/>
        <mapping class="propertyAdmin.structure.services.Services"/>
        <mapping class="propertyAdmin.structure.taxes.Taxes"/>

    </session-factory>
</hibernate-configuration>