<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>SecurityFilter Example Application</display-name>

    <filter>
        <filter-name>Security Filter</filter-name>
        <filter-class>org.securityfilter.filter.SecurityFilter</filter-class>
        <!--<init-param>-->
            <!--<param-name>config</param-name>-->
            <!--<param-value>WEB-INF/securityfilter-config.xml</param-value>-->
            <!--<description>Configuration file location (this is the default value)</description>-->
        <!--</init-param>-->
        <init-param>
            <param-name>validate</param-name>
            <param-value>true</param-value>
            <description>Validate config file if set to true</description>
        </init-param>
        <!--
              <init-param>
                 <param-name>loginSubmitPattern</param-name>
                 <param-value>/logMeIn</param-value>
                 <description>
                    As an example a login form can define "logMeIn" as it action in place of the standard
                    "j_security_check" which is a special flag user by app servers for container managed security.
                 </description>
              </init-param>
        -->
    </filter>

    <!-- map all requests to the SecurityFilter, control what it does with configuration settings -->
    <filter-mapping>
        <filter-name>Security Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



    <!-- make the session time-out after one minute -->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>landingpage.jsp</welcome-file>
    </welcome-file-list>

    <!-- SecurityFilter works with custom error pages -->
    <error-page>
        <error-code>403</error-code>
        <location>/pages-error-400.html</location>
    </error-page>


    //AddContractToFunctionalUnit
    <servlet>
        <servlet-name>addContractToFunctionalUnit</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.add.AddContractToFunctionalUnitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addContractToFunctionalUnit</servlet-name>
        <url-pattern>/addContractToFunctionalUnit</url-pattern>
    </servlet-mapping>
    //AddFunctionalUnit
    <servlet>
        <servlet-name>addFunctionalUnit</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.add.AddFunctionalUnit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addFunctionalUnit</servlet-name>
        <url-pattern>/addFunctionalUnit</url-pattern>
    </servlet-mapping>
    //AddPDFToFunctionalUnit
    <servlet>
        <servlet-name>addPDFToContract</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.add.AddPDFToContractServlet</servlet-class>
        <multipart-config>
            <max-file-size>10000000</max-file-size>
            <max-request-size>20000000</max-request-size>
            <file-size-threshold>50000000</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPDFToContract</servlet-name>
        <url-pattern>/addPDFToContract</url-pattern>
    </servlet-mapping>
    //AddProperty
    <servlet>
        <servlet-name>addProperty</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.add.AddPropertyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProperty</servlet-name>
        <url-pattern>/addProperty</url-pattern>
    </servlet-mapping>
    //NewAccount
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.create.NewAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    //NewContract
    <servlet>
        <servlet-name>newContract</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.create.NewContractServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newContract</servlet-name>
        <url-pattern>/newContract</url-pattern>
    </servlet-mapping>
    //NewFunctionalUnit
    <servlet>
        <servlet-name>newFunctionalUnit</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.create.NewFunctionalUnitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newFunctionalUnit</servlet-name>
        <url-pattern>/newFunctionalUnit</url-pattern>
    </servlet-mapping>
    //NewProperty
    <servlet>
        <servlet-name>newProperty</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.create.NewPropertyServlet</servlet-class>
        <multipart-config>
            <max-file-size>10000000</max-file-size>
            <max-request-size>20000000</max-request-size>
            <file-size-threshold>50000000</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>newProperty</servlet-name>
        <url-pattern>/newProperty</url-pattern>
    </servlet-mapping>
    //DeleteFunctionalUnit
    <servlet>
        <servlet-name>deleteFunctionalUnit</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.delete.DeleteFunctionalUnitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteFunctionalUnit</servlet-name>
        <url-pattern>/deleteFunctionalUnit</url-pattern>
    </servlet-mapping>
    //DeleteProperty
    <servlet>
        <servlet-name>deleteProperty</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.delete.DeletePropertyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteProperty</servlet-name>
        <url-pattern>/deleteProperty</url-pattern>
    </servlet-mapping>
    //GoToClients
    <servlet>
        <servlet-name>goToClients</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.go.GoToClientsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goToClients</servlet-name>
        <url-pattern>/goToClients</url-pattern>
    </servlet-mapping>
    //GoToFunctionalUnitCheckingAccount
    <servlet>
        <servlet-name>goToFunctionalUnitCheckingAccount</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.go.GoToFunctionalUnitCheckingAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goToFunctionalUnitCheckingAccount</servlet-name>
        <url-pattern>/goToFunctionalUnitCheckingAccount</url-pattern>
    </servlet-mapping>
    //GoToFunctionalUnits
    <servlet>
        <servlet-name>goToFunctionalUnits</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.go.GoToFunctionalUnitsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goToFunctionalUnits</servlet-name>
        <url-pattern>/goToFunctionalUnits</url-pattern>
    </servlet-mapping>
    //GoToMyBalance
    <servlet>
        <servlet-name>goToMyBalance</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.go.GoToMyBalanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goToMyBalance</servlet-name>
        <url-pattern>/goToMyBalance</url-pattern>
    </servlet-mapping>
    //GoToMyProfile
    <servlet>
        <servlet-name>goToMyProfile</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.go.GoToMyProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goToMyProfile</servlet-name>
        <url-pattern>/goToMyProfile</url-pattern>
    </servlet-mapping>
    //GoToProperties
    <servlet>
        <servlet-name>goToProperties</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.go.GoToPropertiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goToProperties</servlet-name>
        <url-pattern>/goToProperties</url-pattern>
    </servlet-mapping>
    //GoToQuestions
    <servlet>
        <servlet-name>goToQuestions</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.go.GoToQuestionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goToQuestions</servlet-name>
        <url-pattern>/goToQuestions</url-pattern>
    </servlet-mapping>
    //GoToSpecificClient
    <servlet>
        <servlet-name>goToSpecificClient</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.go.GoToSpecificClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goToSpecificClient</servlet-name>
        <url-pattern>/goToSpecificClient</url-pattern>
    </servlet-mapping>
    //GoToSpecificContract
    <servlet>
        <servlet-name>goToSpecificContract</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.go.GoToSpecificContractServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goToSpecificContract</servlet-name>
        <url-pattern>/goToSpecificContract</url-pattern>
    </servlet-mapping>
    //GoToSpecificFunctionalUnit
    <servlet>
        <servlet-name>goToSpecificFunctionalUnit</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.go.GoToSpecificFunctionalUnitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goToSpecificFunctionalUnit</servlet-name>
        <url-pattern>/goToSpecificFunctionalUnit</url-pattern>
    </servlet-mapping>
    //GoToSpecificProperty
    <servlet>
        <servlet-name>goToSpecificProperty</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.go.GoToSpecificPropertyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goToSpecificProperty</servlet-name>
        <url-pattern>/goToSpecificProperty</url-pattern>
    </servlet-mapping>
    //ModifyAccount
    <servlet>
        <servlet-name>modifyAccount</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.modify.ModifyAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifyAccount</servlet-name>
        <url-pattern>/modifyAccount</url-pattern>
    </servlet-mapping>
    //ModifyClient
    <servlet>
        <servlet-name>modifyClient</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.modify.ModifyClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifyClient</servlet-name>
        <url-pattern>/modifyClient</url-pattern>
    </servlet-mapping>
    //ModifyFunctionalUnit
    <servlet>
        <servlet-name>modifyFunctionalUnit</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.modify.ModifyFunctionalUnitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifyFunctionalUnit</servlet-name>
        <url-pattern>/modifyFunctionalUnit</url-pattern>
    </servlet-mapping>
    //ModifyProperty
    <servlet>
        <servlet-name>modifyProperty</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.modify.ModifyPropertyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifyProperty</servlet-name>
        <url-pattern>/modifyProperty</url-pattern>
    </servlet-mapping>
    //Logout
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logoutAccount</url-pattern>
    </servlet-mapping>
    //Search
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>propertyAdmin.web.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

</web-app>